html {
    scroll-behavior: smooth;
}
body {
    font-family: 'open sans';
    font-family: Arial, sans-serif; 
    margin: 0; 
    background-color: #ecf6ff;
}
header {background-color:rgb(244, 236, 247); 
    color: rgb(0, 0, 0); 
    padding: 1em;
    text-align: center;
    border-bottom: 5px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
nav{
    background-color: rgb(232, 218, 239); 
    padding: 1em;
    text-align: center;
}
nav a {margin-right: 10px; display: inline-block; 
    color: #000000; 
    text-decoration: none;
    transition: all 0.3s ease;
}
main {
    background-color: transparent; /* Quita el fondo blanco */
    padding: 0; /* Quita el padding */
    margin: 0;  /* Quita el margin */
}
section#Inicio{
    background-color: rgb(255, 255, 255); 
    padding: 1em;
    text-align: center;
    color: #000000;
}
article.Articulo {
    display: inline-block;
    background-color: rgb(187, 143, 206); 
    padding: 1em;
    text-align: center;
}
article.Articulo ul,
article.Articulo ol {
    display: inline-block;
    text-align: left;
    margin: 0auto;
}
article.Articulo li {
    text-align: left;
}
.video {
    text-align: center;
    display: block;
    margin: 0 auto 0.5rem;
    animation: backInLeft;
    animation-duration: 3s; 
}
section.mapa {
    background-color: rgb(187, 143, 206);  
    padding: 1em;
    text-align: center;
    color: #000000;
}
#mapa {
    display: block;
    margin: 0 auto 0.5rem;
    animation: backInRight;
    animation-duration: 3s;
}
#pie {
    display: block;
    margin: 0 auto 0.5rem;
    animation: backInUp;
    animation-duration: 3s;
}
section.comparativa {
    background-color: rgb(187, 143, 206);
    padding: 1px;
    text-align: center;
}
table { width: 100%; 
    border-collapse: collapse; 
    background-color: rgb(187, 143, 206); 
}
th, td { border: 1px solid rgb(0, 0, 0); 
    padding: 10px; 
    text-align: center; 
}
section.formulario {
    display: block;
    background-color: rgb(187, 143, 206); 
    color: #000000;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    box-sizing: border-box;
}
section.formulario form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
section.formulario form label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 320px; 
    margin-bottom: 6px;
    text-align: left; 
}
footer {
    background-color: rgb(187, 143, 206);
    color: #000000;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 1em 0;
    text-align: center;
    box-sizing: border-box;
}